#chat-sender {
    width: 80vw;
    margin-top: 5px;
}

#register {
    margin: 0 auto;
    margin-top: 35vh;
    border: solid #ccc 1px;
    border-radius: 8px;
}

#chat-container {
    margin: 0 auto;
    margin-top: 15px;
    width: 80vw;
    height: 80vh;
    overflow-y: scroll;
    border: solid #ccc 1px;
    border-radius: 8px;
}

.btn {
    color: white !important;
}

#h3_1 {
    margin-top: 10px;
}

#name-container {
    margin: 0 auto;
    margin-top: 25px;
    width: 95%;
}

.content {
    margin-top: -15px;
    word-break: break-word;
    max-width: 30%;
}

.message {
    position: relative;
}

@media (min-width: 0px) {
    #register {
        width: 90vw;
    }
    .content {
        max-width: 60%;
    }
}

@media (min-width: 768px) {
    #register {
        width: 90vw;
    }
}

@media (min-width: 992px) {
    #register {
        height: 15vh;
        width: 90vw;
    }
}

@media (min-width: 1200px) {}